
<div class="border-b py-3 border-gray-300 flex justify-between items-center ">

    <div class="flex gap-3">
        <img src="{{app.image_url}}" class="h-20 w-20" alt="">

        <div class="my-auto">
            <a href="{% url "core:app_details" app.slug %}" class="font-bold">{{app.name}}</a>
            <div class="text-sm">
                <i class="fa fa-star text-amber-500"></i> 5.0 
                <span class="text-emerald-500">{{app.license}}</span>
                <p class="text-neutral-400 whitespace-nowrap max-w-40 overflow-hidden text-ellipsis">{{app.description}}</p>
            </div>
        </div>

    </div>

    <div>
        <a class="bg-emerald-600 hover:bg-emerald-700 text-white p-3 cursor-pointer rounded-md">Download</a>

    </div>
    
</div>